@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-weight: 400;   
}

html{
    background: linear-gradient(#af67e9, #6565e7);
    min-height: 100%;
}

body {
    font-family: "Kumbh Sans", sans-serif;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.faq{
    width: 50%;
    min-height: 450px;
    box-shadow: 0px 25px 50x rgba(0, 0, 0, 0.3);
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 30px;
}

.faq .ilustration{
    position: relative;
    left: -120px;
    width: 50%;
    margin: 50px 0;
}

.faq .content{
    width: 40%;
    padding-bottom: 20px;
}

.faq .content h1{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}

.faq .content .itens{
    list-style-type: none;
}

.faq .content .itens .item{
    cursor: pointer;
    background-image: url(../images/arrow-down.png);
    background-repeat: no-repeat;
    background-position: top 8px right 0;
    background-size: 12px;
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
}

.faq .content .itens .item:last-child{
    border: none;
}

.item .question{
    padding-bottom: 15px;
    font-size: 18px;
    width: 90%;
    transition: 0.2s ease;
}

.item .question:hover{
   color: #f47c57;
}

.item .response{
    font-size: 14px;
    display: none;
}

.faq .itens .item.active h2{
    font-weight: 700;
} 

.faq .itens .item.active .response {
    display: block;
    padding-bottom: 10px;
}

.faq .itens .item.active{
    background-image: url(../images/arrow-up.png);
}

@media(max-width: 1140px){
    .faq {
        flex-direction: column;
        width: 90%;
    }

    .faq .content{
        width: 100%;
    }

    .faq .content h1{
        font-size: 24px;
        text-align: center;
    }

    .faq .itens{
        width: 80%;
        margin: 0 auto;
    }

    .itens .item{
        font-style: 16px;
    }
    
    .faq .ilustration{
        width: 40%;
        left: 0;
        margin: 30px 0;
    }
}

@media(max-width: 425px){
    .faq{
        height: 540px;
    }
}
